<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <base href="/" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/products.css" />
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="stylesheet" href="/styles/cart.css" />
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <%# Include the header and footer on any webpage passed through %>
    <%-include("header.ejs")%>
    <main><%- content %></main>
    <%-include("footer.ejs")%>

    <script defer src="../assets/js/navScroll.js"></script>
    <script defer src="../assets/js/mobileDrawer.js"></script>
    <script defer src="../assets/js/accordion.js"></script>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

  </body>
</html>
