<%# Header Start %>
<header>
  <div id="navigation" class="container">
    <nav aria-label="navbar">
      <%# Logo %>
      <a href="/" id="logo" aria-label="Go to homepage">
        <img src="../assets/images/logo.webp" alt="logo" />
      </a>
      <%# Utility Icons %>
      <div class="utils">
        <%# Account %>
        <a class="icon" href="../login/" aria-label="Go to User Profile">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-width="2.5"
            viewbox="0 0 24 24"
          >
            <circle cx="12" cy="7" r="5"></circle>
            <path
              d="m4.5 23 v -2 a 4 4 0 0 1 4 -4 h 7 a 4 4 0 0 1 4 4 v 2"
            ></path>
          </svg>
        </a>
        <%# Cart %>
        <a class="icon cart-icon" href="../cart/" aria-label="Go to cart">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-width="2.5"
            viewbox="0 0 24 24"
          >
            <path
              d="M9 11V6C9 4.34315 10.3431 3 12 3C13.6569 3 15 4.34315 15 6V10.9673M10.4 21H13.6C15.8402 21 16.9603 21 17.816 20.564C18.5686 20.1805 19.1805 19.5686 19.564 18.816C20 17.9603 20 16.8402 20 14.6V12.2C20 11.0799 20 10.5198 19.782 10.092C19.5903 9.71569 19.2843 9.40973 18.908 9.21799C18.4802 9 17.9201 9 16.8 9H7.2C6.0799 9 5.51984 9 5.09202 9.21799C4.71569 9.40973 4.40973 9.71569 4.21799 10.092C4 10.5198 4 11.0799 4 12.2V14.6C4 16.8402 4 17.9603 4.43597 18.816C4.81947 19.5686 5.43139 20.1805 6.18404 20.564C7.03968 21 8.15979 21 10.4 21Z"
            ></path>
            <span class="cart-count">0</span>
          </svg>
        </a>
      </div>
      <%# Burger %>
      <button
        class="icon mobile-menu-icon"
        aria-expanded="false"
        aria-controls="mobile-drawer"
        aria-label="Open the Mobile Menu Drawer"
      >
        <svg fill="currentColor" viewbox="0 0 24 24">
          <rect
            class="burger-line top"
            width="20"
            height="2.4"
            x="2.4"
            y="5"
            rx="1.2"
          ></rect>
          <rect
            class="burger-line middle"
            width="20"
            height="2.4"
            x="2.4"
            y="11"
            rx="1.2"
          ></rect>
          <rect
            class="burger-line bottom"
            width="20"
            height="2.4"
            x="2.4"
            y="16.6"
            rx="1.2"
          ></rect>
        </svg>
      </button>
    </nav>
  </div>

<div class="container merchandise-category__nav">
  <%- include("list.ejs", {
    items: [
      ["Figures", [["Pre-Order", ["Kiana Kaslana", "Honkai Impact 3rd", "Arknights", "Honkai Star Rail", "Genshin Impact"]], "In-Stock"]],
      ["Apparel", ["Clothing", "Bags", "Shoes"]],
      ["Accessories", ["Earrings", "Necklase"]],
      ["Collectibles", ["Acrylics", "Keychains", "Plushies", "Electronics"]],
    ],
    className: "merchandise-category__list",
    itemClassName: "merchandise-category__item",
    sublistClassName: "mobile-drawer-sublist",
    isAccordion: true,
  })  %>
</div>

  <%# Search Bar %>
  <form class="search-bar">
    <button 
    class="icon"
    aria-label="Search Button">
      <svg
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewbox="0 0 24 24"
      >
        <path
          d="M11 6C13.7614 6 16 8.23858 16 11M16.6588 16.6549L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
        ></path>
      </svg>
    </button>
    <input type="text" placeholder="Search our store" />
  </form>
</header>
<%# Header End %>

<section class="mobile-drawer container">
  
  <form class="search-bar drawer-search">
    <button 
    class="icon"
    aria-label="Search Button">
      <svg
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewbox="0 0 24 24"
      >
        <path
          d="M11 6C13.7614 6 16 8.23858 16 11M16.6588 16.6549L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
        ></path>
      </svg>
    </button>
    <input type="text" placeholder="Search our store" />
  </form>

  <%- include("list.ejs", {
    items: [
      ["Figures", [["Pre-Order", ["Kiana Kaslana", "Honkai Impact 3rd", "Arknights", "Honkai Star Rail", "Genshin Impact"]], "In-Stock"]],
      ["Apparel", ["Clothing", "Bags", "Shoes"]],
      ["Accessories", ["Earrings", "Necklase"]],
      ["Collectibles", ["Acrylics", "Keychains", "Plushies", "Electronics"]],
    ],
    className: "mobile-drawer-list",
    itemClassName: "mobile-drawer-list__item",
    sublistClassName: "mobile-drawer-sublist",
    isAccordion: true,
  })  %>
  <div class="socials-links">
    <a href="#"
    class="icon"
    aria-label="Instagram">
      <svg
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewbox="0 0 50 50"
      >
        <path
          d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"
        ></path>
      </svg>
    </a>
    <a href="#"
      class="icon"
      aria-label="Facebook">
        <svg
          stroke="currentColor"
          stroke-width="1.5"
          viewbox="0 0 50 50"
        >
          <path
            d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M37,19h-2c-2.14,0-3,0.5-3,2 v3h5l-1,5h-4v15h-5V29h-4v-5h4v-3c0-4,2-7,6-7c2.9,0,4,1,4,1V19z"
          ></path>
        </svg>
    </a>
  </div>
</section>
