.login-form{
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    max-width: 420px;
}

.login-form h1{
    text-align: center;
}

.login-form input{
    border-radius: 12px;
    padding: 1.2rem 1.438rem;
}

.sign-in{
    border: 1px solid #cccccc;
    width: 100%;
    border-radius: 25px;
    font-size: var(--size-base);
    margin-bottom: 15px;
    text-align: center;
    padding: 1.2rem 2.438rem;
    background: var(--clr-cornflower);
    color: white;
}

.login-form form{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.login-form form > button{
    margin-top: 1.25rem;
}


@media (min-width: 768px) {
    .login-form{
        max-width: 600px;
    }
}