/* ↓↓ Global variables accessible throughout stylesheet ↓↓ */
:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-txt: #333333;
  --clr-cornflower: #8ab5ea;
  --clr-porcelain: #ecf1f2;
  --transition: 300ms;

  --size-xxs: 0.8125rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-lg: 1.25rem;
  --size-xl: 1.5rem;
  --size-2xl: 1.75rem;
  --size-3xl: 2rem;
  --size-4xl: 2.5rem;
}

/* ↓↓ Remove default styles across all elements ↓↓ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  /* ↓↓ Include borders, paddings sizes in width calculation. i.e Element is not larger than fixed width size ↓↓ */
  box-sizing: border-box;
}

body,
html {
  color: var(--clr-txt);
  background: var(--clr-white);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-size: var(--size-xxs);
  color: blue;
  min-width: 320px;
}

.container {
  /* border: 1px solid red; */
  width: 100%;
  --padding: 1.25rem;
  padding: 0 var(--padding);
  margin: auto;
}

h1 {
  font-size: var(--size-2xl);
}
h2 {
  font-size: var(--size-xl);
}
h3 {
  font-size: var(--size-lg);
}
h4 {
  font-size: var(--size-base);
}
h5 {
  font-size: var(--size-sm);
}
h6 {
  font-size: var(--size-xs);
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  /* ↓↓ Prevents element from being selected in highlighting ↓↓ */
  user-select: none;
}

a {
  color: var(--clr-txt);
  text-decoration: underline;
  transition: var(--transition);
}
a:hover {
  color: var(--clr-cornflower);
}

.icon {
  background: transparent;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
}
.icon svg {
  width: 24px;
  color: var(--clr-black);
}

.header {
  background: var(--clr-white);
}
.navigation {
  display: flex;
  padding: 10px 0;
  gap: 1rem;
}

.utils {
  display: flex;
  margin-left: auto;
  gap: 0.5rem;
}

.burger-line {
  transition: y var(--transition) ease-in, transform var(--transition) ease-in;
  transform-origin: center;
}

.mobile-menu-icon {
  padding-left: 0;
}
.mobile-menu-icon[aria-expanded="true"] :is(.top, .bottom) {
  y: 11;
}
.mobile-menu-icon[aria-expanded="true"] .top {
  transform: rotate(45deg);
}
.mobile-menu-icon[aria-expanded="true"] .middle {
  transform: rotate(45deg);
  opacity: 0;
}
.mobile-menu-icon[aria-expanded="true"] .bottom {
  transform: rotate(-45deg);
}

.cart-icon {
  position: relative;
}
.cart-count {
  position: absolute;
  top: 4px;
  right: -2px;
  box-sizing: content-box;
  min-width: 1em;
  padding: 2px;
  font-size: 11px;
  line-height: 1em;
  text-align: center;
  border-radius: 50%;
  background: var(--clr-black);
  color: var(--clr-white);
}

.site-logo img {
  width: 40px;
  height: 40px;
}

.search-bar {
  width: auto;
  margin: 0 calc(var(--padding) * -1);
  background: var(--clr-porcelain);
  padding: 10px 15px;
  display: flex;
}
.search-bar .icon {
  padding-left: 0;
}
.search-bar input {
  background: transparent;
  padding: 10px 15px 10px 10px;
  width: 100%;
}
.search-bar input {
  outline-color: var(--clr-cornflower);
}
::placeholder {
  color: var(--clr-txt);
  opacity: 0.8;
}

footer {
  background: linear-gradient(
    89deg,
    #ebf5fa 12% 49%,
    var(--clr-porcelain) 85.612%
  );
}




@media (min-width: 480px) {
  body,
  html {
    font-size: var(--size-sm);
    color: red;
  }

  h1 {
    font-size: var(--size-3xl);
  }
  h2 {
    font-size: var(--size-2xl);
  }
  h3 {
    font-size: var(--size-xl);
  }
  h4 {
    font-size: var(--size-lg);
  }
  h5 {
    font-size: var(--size-base);
  }
  h6 {
    font-size: var(--size-sm);
  }
}
@media (min-width: 768px) {
  body,
  html {
    font-size: var(--size-base);
    color: pink;
  }

  .container {
    --padding: 1.875rem;
  }

  h1 {
    font-size: var(--size-4xl);
  }
  h2 {
    font-size: var(--size-3xl);
  }
  h3 {
    font-size: var(--size-2xl);
  }
  h4 {
    font-size: var(--size-xl);
  }
  h5 {
    font-size: var(--size-lg);
  }
  h6 {
    font-size: var(--size-base);
  }

  .search-bar .icon {
    padding-left: 14px;
  }
}