/******************************/
/******* GENERAL STYLES *******/
/******************************/

/* ↓↓ Global variables accessible throughout stylesheet ↓↓ */
:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-txt: #333333;
  --clr-cornflower: #8ab5ea;
  --clr-porcelain: #ecf1f2;
  --transition: 300ms;

  --size-xxs: 0.8125rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-lg: 1.25rem;
  --size-xl: 1.5rem;
  --size-2xl: 1.75rem;
  --size-3xl: 2rem;
  --size-4xl: 2.5rem;

  scroll-behavior: smooth;
}

/* ↓↓ Remove default styles across all elements ↓↓ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  /* ↓↓ Include borders, paddings sizes in width calculation. i.e Element is not larger than fixed width size ↓↓ */
  box-sizing: border-box;
}

body,
html {
  color: var(--clr-txt);
  background: var(--clr-white);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-size: 100%;
  min-width: 320px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  /* ↓↓ Prevents element from being selected in highlighting ↓↓ */
  user-select: none;
}

strong {
  color: var(--clr-cornflower);
}
a {
  color: var(--clr-txt);
  text-decoration: underline;
  transition: var(--transition);
}
a:hover {
  color: var(--clr-cornflower);
}

.container {
  width: 100%;
  --padding: 1.25rem;
  padding: 0 var(--padding);
  margin: auto;
}

h1 {
  font-size: var(--size-2xl);
}
h2 {
  font-size: var(--size-xl);
}
h3 {
  font-size: var(--size-lg);
}
h4 {
  font-size: var(--size-base);
}
h5 {
  font-size: var(--size-sm);
}
h6 {
  font-size: var(--size-xs);
}

/******************************/
/**********  ICONS   **********/
/******************************/
.icon {
  background: transparent;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
}
.icon svg {
  width: 24px;
  color: var(--clr-black);
}

/******************************/
/**********  NAVBAR  **********/
/******************************/
.navigation {
  background: var(--clr-white);
}

.window-scroll .navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 1px 5px #2b2929;
  z-index: 101;
}
.window-scroll .search-bar {
  margin-top: 60px;
}

nav {
  display: flex;
  padding: 10px 0;
  gap: 1rem;
}

.utils {
  display: flex;
  margin-left: auto;
  gap: 0.5rem;
}

.burger-line {
  transition: y var(--transition) ease-in, transform var(--transition) ease-in;
  transform-origin: center;
}

.mobile-menu-icon[aria-expanded="true"] :is(.top, .bottom) {
  /* SVG y vertical position */
  y: 11;
}
.mobile-menu-icon[aria-expanded="true"] .top {
  transform: rotate(45deg);
}
.mobile-menu-icon[aria-expanded="true"] .middle {
  transform: rotate(45deg);
  opacity: 0;
}
.mobile-menu-icon[aria-expanded="true"] .bottom {
  transform: rotate(-45deg);
}

.cart-icon {
  position: relative;
}
.cart-count {
  position: absolute;
  top: 4px;
  right: -2px;
  box-sizing: content-box;
  min-width: 1em;
  padding: 2px;
  font-size: 11px;
  line-height: 1em;
  text-align: center;
  border-radius: 50%;
  background: var(--clr-black);
  color: var(--clr-white);
}

.site-logo img {
  width: 40px;
  height: 40px;
}

.search-bar {
  width: auto;
  margin: 0 calc(var(--padding) * -1);
  background: var(--clr-porcelain);
  padding: 10px 15px;
  display: flex;
}
.search-bar .icon {
  padding-left: 0;
}
.search-bar input {
  background: transparent;
  padding: 10px 15px 10px 10px;
  width: 100%;
}
.search-bar input {
  outline-color: var(--clr-cornflower);
}
::placeholder {
  color: var(--clr-txt);
  opacity: 0.8;
}

/* Mobile menu when burger is clicked */
.mobile-menu {
  position: absolute;
  background: var(--clr-white);
  z-index: 1000;
  left: 0;
  top: 60px;
  height: 100%;
  width: 100%;
  border-top: 1px solid rgb(231, 225, 225);
  padding-top: 1rem;
  display: none;
  position: fixed;
  overflow: scroll;
}

.mobile-menu-item {
  border-bottom: 1px solid rgb(231, 225, 225);
}
.mobile-menu-item a {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  text-decoration: none;
}

/* When burger is clicked, disable webpage scrolling and open the mobile menu */
.mobile-menu-open {
  overflow: hidden;
}
.mobile-menu-open .mobile-menu {
  display: block;
}

/******************************/
/***********  HERO  ***********/
/******************************/

.hero .container {
  text-align: center;
}

/******************************/
/*********  CONTENT  **********/
/******************************/
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  margin-bottom: 5rem;
}
.content img {
  border-radius: 15px;
}

/* .hp-test{
  max-width: 330px;
  max-height: 330px;
  width: 100%;
  height: 100%;
} */

.merchandise {
  text-align: center;
}

/******************************/
/**********  Footer  **********/
/******************************/
footer {
  background: linear-gradient(
    89deg,
    #ebf5fa 12% 49%,
    var(--clr-porcelain) 85.612%
  );
}
