---
title: Account - Nyaanime
permalink: "login/"
layout: "base.ejs"
---

<article class="container login-form">
  <h1>Login</h1>

  <form action="">
    <input type="text" placeholder="email">
    <input type="text" placeholder="password">

    <button class="sign-in">Sign In</button>
  </form>
</article>
