---
title: Nyaanime Shop Anime Merch
layout: "base.ejs"
---

<section class="hero" id="banner">
  <%# When page reaches certain breakpoints, change image resolution %>
  <picture>
    <source srcset="./assets/images/hero-image-800.webp" media="(max-width: 800px)" />
    <source
      srcset="./assets/images/hero-image-1440.webp"
      media="(max-width: 1440px)"
    />
    <img
      src="./assets/images/hero-image-2560.webp"
      alt="landing image"
      width="2536"
      height="936"
      loading="eager"
      decoding="async"
    />
  </picture>

  <div class="container">
    <h1>
      Unleash Your <br />
      Inner Otaku <br />
    </h1>
    <h2><strong>Shop Now</strong></h2>
  </div>
</section>

<%# Merchandise section %>
<section class="content container">
  <% for (let i=0; i<12; i++){ %>
  <a class="merchandise" href="#">
  <picture>
    <source srcset="./assets/images/Herrscher_Of_The_Void_Figure400.webp" media="(max-width: 800px)" />
    <img
      class="hp-test"
      src="./assets/images/Herrscher_Of_The_Void_Figure800.webp"
      alt=""
      width="800"
      height="800"
      loading="lazy"
    />
  </picture>
    Figures
  </a>
  <%}%>
</section>
