---
title: Nyaanime Shop Anime Merch
layout: "base.ejs"
---

<!-- <h1 class="container">ZA Homepage</h1> -->
<!-- <img src="./images/hero-image2.webp" alt=""> -->
<picture>
  <source srcset="./images/hero-image2.webp" media="(min-width: 600px)" />
  <img
    src="./images/hero-imagetest.webp"
    alt="landing image"
    height="“600”"
    width="“600”"
    loading="“lazy”"
    decoding="“async”"
  />
</picture>
<p class="container">Testing</p>
